.navbar-ltr {
  direction: ltr;
  unicode-bidi: isolate;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', 'Tajawal', Arial, sans-serif;
  direction: rtl;
  unicode-bidi: isolate;
  margin: 0;
}
